$font-main: Raleway, Helvetica, Arial, sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 600;
$font-weight-heavy: 700;

$offwhite: #EEE8D6;
$darkblue: #022933;
$blue:     #0076A3;
$green:    #BFC406;
$orange:   #FFB12F;
$yellow:   #F3D350;
$red:      #D14348;
$purple:   #6D73C2;
$grey:     #A1A1A1;
$black:    #000000;

$color-main: white;
$color-background: #ccc;

$small: screen and (max-width: 700px);
$medium: screen and (min-width: 701px);
$large: screen and (min-width: 1200px);

$container-default-width: 80%;
$container-max-width: 1200px;