article {
    padding: 1.3rem;
    
    h1 {
        font-size: 4rem;
        font-weight: $font-weight-bold;
        margin: 0 0 1.5rem 0;
        opacity: .5;
        letter-spacing: 13vw;
        
        @media $large {
            letter-spacing: 14.3vw;
        }
        
        @media $small {
            letter-spacing: 9.5vw;
        }
        
        @media $micro {
            letter-spacing: 7.6vw;
        }
    } 
    
    h2 {
        font-size: 3rem;
        font-weight: $font-weight-bold;
        line-height: 3rem;
        opacity: .8;
        padding: 0 1rem 1rem 10rem;
        max-width: 80rem;
        
        @media $small {
            padding: 0 1rem 0 0;
        }
    }
    
    p {
        margin: 0;
        padding: 2rem 1rem 0 8rem;
        opacity: .6;
        max-width: 70rem;
        font-weight: $font-weight-bold;
        
        @media $small {
            padding: 2rem 1rem 0 1rem;
        }
    }
}

article.resume h1 {
    letter-spacing: 15.5vw;
        
        @media $large {
            letter-spacing: 17.2vw;
        }
        
        @media $small {
            letter-spacing: 11vw;
        }
        
        @media $micro {
            letter-spacing: 9.3vw;
        }
}

.sideways {
    writing-mode: vertical-rl;
    margin: 0 0 0 15rem;
    text-transform: uppercase;
}