.projekt {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    img {
        width: 200px;
        height: auto;
        padding: 1rem;
    }
}

.lightbox {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.8);
  
  img {
    width: auto;
    height: auto;
    max-width: 95vw;
    max-height: 95vh;
    margin: auto;
  }
}

picture {
  transition: background 0.2s ease-out;
  display: inline-block;
  
  img {
    transition: margin 2s;
  }
}